input {
  background-color: transparent !important;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #000 inset !important;
  -webkit-text-fill-color: white !important;
  background-color: transparent !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
